body {
  font-family: 'Aviex sans', sans-serif;
  color: #3563d2;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 1.3em;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

p {
  margin-bottom: 10px;
}

a {
  color: #3563d2;
  text-decoration: none;
}

.bg {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -999;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block {
  position: absolute;
  width: 30vw;
  height: 50vh;
  border-radius: 100%;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, #5dfaff 56%, #06c8f8 59%, #174196 70%);
  opacity: 0.49;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.transition-out {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
}

.image {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.transition-in {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
}

.transition-out-mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
}

.image-2 {
  width: 100vw;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section {
  height: 100vh;
  background-image: url('../images/bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lottie-animation {
  width: 100px;
  height: 100px;
}

.link-block {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.5em;
  text-decoration: none;
}

.link-block.w--current {
  background-color: #3563d2;
  color: #fff;
  text-decoration: underline;
}

.link-block.kr {
  font-size: 16px;
}

.link-block.hk {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
}

.link-block.en {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.link-block.en.w--current {
  text-decoration: underline;
}

.lang-wrap {
  position: relative;
  right: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.lang {
  padding: 5px;
  border-radius: 6px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
}

.lang-link {
  color: #fff;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 5px 20px;
  background-color: transparent;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.bg-blur {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: none;
  opacity: 0.5;
  -webkit-filter: blur(200px);
  filter: blur(200px);
}

.bg-circle {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  background-color: #8684ff;
}

.bg-circle._1 {
  left: auto;
  top: 0%;
  background-color: #00aef8;
}

.bg-circle._2 {
  left: auto;
  top: 76%;
  right: -10%;
  background-color: #fdef51;
}

.bg-circle._3 {
  left: auto;
  top: -31%;
  right: 5%;
  background-color: #6dffdb;
}

.bg-circle._4 {
  left: 20%;
  top: 38%;
  width: 20vw;
  height: 20vw;
  background-color: #13ffff;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-column {
  position: absolute;
  left: 5%;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.youtube {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 60px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.nav-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.nav-menu {
  display: none;
}

.nav-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  position: absolute;
}

.stream-section {
  width: 75vw;
  margin-top: 10%;
  margin-left: 25vw;
  padding: 2% 5% 10%;
}

.info-section {
  position: relative;
  width: 75vw;
  margin-top: -5%;
  margin-left: 25vw;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment-section {
  width: 75vw;
  margin-left: 25vw;
  padding: 10% 5%;
}

.payment-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 12px -6px #3e6292;
  text-align: center;
}

.payment-icon {
  margin-top: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.galley-section {
  position: relative;
  left: 0px;
  width: 75vw;
  height: 500vh;
  margin-top: 80px;
  margin-left: 25vw;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider {
  width: 100%;
  height: 50vh;
  margin-right: 2%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.slide-1 {
  background-image: url('../images/Moon-garden-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url('../images/Moon-garden-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../images/tea-room-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url('../images/tea-room-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-5 {
  background-image: url('../images/the-cell-01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-6 {
  background-image: url('../images/the-cell-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-text {
  position: absolute;
  left: 10%;
  top: auto;
  right: auto;
  bottom: 15%;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(53, 99, 210, 0.8);
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
}

.kr {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 100;
}

.hk {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 100;
}

.icon {
  font-size: 20px;
}

.icon-2 {
  font-size: 20px;
}

.slide-nav {
  height: 20px;
  font-size: 4px;
  line-height: 10px;
}

.effect {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.effect.en {
  font-family: 'Aviex sans', sans-serif;
}

.effect.kr {
  font-weight: 100;
}

.top {
  display: none;
  height: 0px;
}

.gallery-holder {
  position: -webkit-sticky;
  position: sticky;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-rule-style: none;
  column-rule-style: none;
  -webkit-column-rule-width: 0px;
  column-rule-width: 0px;
}

.lightbox-link {
  width: 30vw;
  padding-right: 8px;
}

.footer {
  position: relative;
  bottom: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
}

.sign {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
}

.sign.menu {
  display: none;
}

.slogan {
  font-family: 'Gochi Hand', sans-serif;
}

.slogan.hk {
  font-size: 10px;
}

.slogan.hk-copy {
  font-size: 12px;
}

.slogan.kr {
  font-size: 12px;
}

.gif-wrap {
  width: 70px;
}

.heading.hk {
  font-family: 'Noto Sans HK', sans-serif;
}

.heading.kr {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.main {
  position: absolute;
  padding-top: 40px;
}

.kv-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kv-img-1 {
  position: absolute;
  width: 90vh;
}

.kv-img-2 {
  position: absolute;
  width: 90vh;
}

.kv-img-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-down {
  position: absolute;
  right: 2%;
  bottom: 2%;
  text-align: center;
}

.div-block-5 {
  position: absolute;
  left: 0vh;
  width: 20vw;
}

.kv-img-3 {
  position: absolute;
  left: 10vw;
  bottom: 0px;
  width: 12vw;
}

.kv-img-4 {
  position: absolute;
  left: 0vh;
  width: 40vh;
}

.kv-img-5 {
  position: absolute;
  left: 19.5vw;
  top: 5vh;
  width: 12vw;
}

.kv-img-6 {
  position: absolute;
  left: 6.4vw;
  top: 10vh;
  width: 12vw;
}

.kv-img-7 {
  position: absolute;
  left: 20vw;
  bottom: 27.2vh;
  width: 6vw;
}

.kv-img-8 {
  position: absolute;
  top: 10vh;
  right: 3vw;
  width: 8vw;
}

.kv-img-9 {
  position: absolute;
  right: 10vw;
  bottom: 16vh;
  width: 8vw;
}

.kv-img-10 {
  position: absolute;
  top: 40vh;
  right: 10vw;
  width: 9vw;
}

.kv-img-11 {
  position: absolute;
  top: 4vh;
  right: 15vw;
  width: 10vw;
}

.sticky-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 43vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bless-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-size: 1vw;
}

.gallery-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 540vw;
  height: 85vh;
}

.gallery-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
}

.img-thubnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 2%;
}

.right-arrow {
  width: 50px;
}

.left-arrow {
  width: 50px;
}

.speech {
  width: 90%;
  margin-bottom: 5%;
  padding: 20px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.5);
  font-family: 'Gochi Hand', sans-serif;
  text-align: center;
}

.speech.hk {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 100;
}

.paragraph {
  text-align: right;
}

.brand-2 {
  display: none;
}

.text-span {
  font-family: 'Gochi Hand', sans-serif;
}

@media screen and (max-width: 991px) {
  a {
    color: #4e69a7;
  }

  .bg {
    height: auto;
  }

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .lang-wrap {
    z-index: 1;
    margin-right: 0%;
    padding: 10px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .lang {
    padding-right: 10px;
    padding-left: 10px;
  }

  .left-column {
    left: 0%;
    margin-left: 0vh;
  }

  .youtube {
    width: 100%;
  }

  .nav-menu {
    height: 100vh;
    background-color: #fff;
  }

  .stream-section {
    width: 100%;
    margin-left: 0%;
    padding-right: 2%;
    padding-left: 2%;
  }

  .info-section {
    width: 100vw;
    margin-left: 0%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .payment-section {
    width: 100%;
    margin-left: 0%;
    padding-right: 2%;
    padding-left: 2%;
  }

  .payment {
    width: 18vw;
  }

  .galley-section {
    width: 100vw;
    margin-left: 0%;
    padding-right: 2%;
    padding-left: 2%;
  }

  .menu-button {
    position: absolute;
    left: 0px;
  }

  .gallery-holder {
    padding-right: 0%;
    padding-left: 0%;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .m-link {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: #3563d2;
    text-transform: uppercase;
  }

  .m-link.w--current {
    background-color: #3563d2;
    color: #fff;
  }

  .sign {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 50%;
  }

  .sign.menu {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50%;
  }

  .kv-img-1 {
    width: 90vh;
  }

  .kv-img-4 {
    width: 30vh;
  }

  .sticky-menu {
    display: none;
  }

  .text-block {
    font-size: 2vw;
  }

  .nav {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    top: 0%;
  }

  .brand-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .info {
    margin-top: 5%;
  }

  .payment-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .payment {
    width: 20vw;
    margin-bottom: 5%;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .galley-section {
    width: 100vw;
    height: auto;
    padding-right: 0%;
    padding-left: 0%;
  }

  .gallery-holder {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .lightbox-link {
    position: relative;
    width: 50vw;
    height: 50vw;
    padding-right: 0px;
    padding-bottom: 8px;
  }

  .slogan {
    font-size: 14px;
  }

  .heading {
    font-size: 30px;
  }

  .main {
    position: relative;
  }

  .kv-img-1 {
    width: 90vw;
  }

  .kv-img-2 {
    width: 90vw;
  }

  .kv-img-4 {
    width: 20vw;
  }

  .bless-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gallery-list {
    position: relative;
    width: 100vw;
    height: 200vh;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .gallery-sticky {
    position: static;
  }

  .div-block-6 {
    width: 600vw;
  }

  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .speech {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .bg-blur {
    opacity: 0.8;
  }

  .bg-circle._1 {
    width: 50vw;
    height: 50vw;
  }

  .bg-circle._2 {
    width: 50vw;
    height: 50vw;
  }

  .bg-circle._4 {
    width: 50vw;
    height: 50vw;
  }

  .payment {
    width: 28%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
  }

  .payment-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .lightbox-link {
    position: relative;
    height: 50vw;
  }

  .kv-section {
    height: 80vh;
  }

  .scroll-down {
    bottom: 0%;
  }

  .kv-img-3 {
    left: 6vw;
    width: 28vw;
  }

  .kv-img-5 {
    top: 2vh;
    width: 27vw;
  }

  .kv-img-6 {
    left: 2vw;
    width: 27vw;
  }

  .kv-img-8 {
    width: 20vw;
  }

  .kv-img-9 {
    right: 2vw;
    width: 13vw;
  }

  .kv-img-11 {
    width: 30vw;
  }

  .text-block {
    font-size: 4vw;
  }
}

@font-face {
  font-family: 'Typo papyrus m';
  src: url('../fonts/Typo_Papyrus-M.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aviex sans';
  src: url('../fonts/Aviex_Sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Usherwood';
  src: url('../fonts/Usherwood-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}